{% extends "forms/field.html.twig" %}
{% set value = (value is null ? "" : value) %}
{% set config = config.plugins['leaflet-address'] %}

{% block field %}

{{dump(config)}}
<div class="form-columns grid">
  <div class="form-columns size-1-2">
    <div class="form-field grid">
      <div class="form-label block size-1-3">
        <button class="button" type="submit" id="coordinateselector-do-search">{{ 'PLUGIN_LEAFLET_ADDRESS.FIELDS.SEARCH.LABEL'|tu }}</button>&nbsp;<span class="spinner" id="coordinateselector-searching">&nbsp;</span>
      </div>
      <div class="form-data block size-2-3">
        <div class="search-coordinate-selector">
          <div class="form-input-wrapper">
            <div id="coordinateselector-search" name="coordinateselector-search" class="form-display-wrapper search-coordinate-selector fake-input">&nbsp;</div>
            <datalist id="coordinateselector-datalist" class="search-location-datalist"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-field grid">
      <div class="form-label block size-1-3">
        <label>{{ 'PLUGIN_LEAFLET_ADDRESS.FIELDS.LATITUDE.LABEL'|tu }}</label>
      </div>
      <div class="form-data block size-2-3">
        <div class="form-input-wrapper">
          <div id="coordinateselector-lat" name="coordinateselector-lat" class="form-display-wrapper fake-input">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="form-field grid">
      <div class="form-label block size-1-3">
        <label>{{ 'PLUGIN_LEAFLET_ADDRESS.FIELDS.LONGITUDE.LABEL'|tu }}</label>
      </div>
      <div class="form-data block size-2-3">
        <div class="form-input-wrapper">
          <div id="coordinateselector-lng" name="coordinateselector-lng" class="form-display-wrapper fake-input">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="form-field grid">
      <div class="form-data block size-3-3">
        <div class="form-input-wrapper fixthemap text-right">
          <div class="form-display-wrapper">{{ 'PLUGIN_LEAFLET_ADDRESS.SECTION.FIXTHEMAP'|tu|markdown }}</div>
        </div>
      </div>
    </div>
    <div class="form-field grid ">
      <div class="form-data block size-3-3">
        <div class="form-input-wrapper fixthemap">
          <div class="form-display-wrapper">{{ 'PLUGIN_LEAFLET_ADDRESS.SECTION.CONTRIB'|tu|markdown }}</div>
        </div>
      </div>
    </div>
    <div class="form-field grid hidden">
      <div class="form-label block size-1-3">
        <label>{{ 'PLUGIN_LEAFLET_ADDRESS.FIELDS.COORDINATES.LABEL'|tu }}</label>
      </div>
      <div class="form-data block size-2-3">
        <div class="form-input-wrapper">
          <input type="text" id="coordinateselector-value" name="{{ (scope ~ field.name)|fieldName }}" value="{{value}}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-data size-1-2">
    <div class="map-wrapper">
      <div class="coordinateselector-map" id="coordinateselector-map"></div>
    </div>
  </div>
</div>

<script>
{% include "partials/leaflet-address-backend.js.twig" with {'config': config} %}
</script>

{% endblock %}