<footer id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="column col-sm-12 col-4"> 
                <h5>Contact</h5>
                <div class="text-tiny columns">
                    <div class="column col-4">
                        <i class="icon icon-location" aria-hidden="true"></i>
                    </div>
                    <div class="column text-left col-8">
                        <div>
                            <div>{{ config.contact.address.address }}</div>
                            <div>{{ config.contact.address.zip }} {{ config.contact.address.city }}</div>
                        </div>
                    </div>{% if config.contact.phone is not null %}
                        {% set phoneArray = config.contact.phone|split('', 2) %}
                        {% set formattedPhonenumber = phoneArray|join('.') %}
                        <div class="column col-4">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                        <div class="column text-left col-8">
                            <a href="tel:{{ config.contact.phone }}">{{ formattedPhonenumber }}</a>
                        </div>
                    {% endif %}
                    <div class="column col-4">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="column text-left col-8">
                        <a href="mailto:{{ config.contact.email }}" title="{{ config.contact.email }}" class="mailto">{{ config.contact.email }}</a>
                    </div>
                </div>
            </div>
            <div class="column col-sm-12 col-4 text-tiny">
                <h5>Horaires</h5>
                <div class="columns">
                {% for horaire in config.contact.horaires %}
                    <div class="colum col-5">{{ horaire.name }}</div>
                    <div class="colum col-3">{{ horaire.day }}</div>
                    <div class="colum col-4">{{ horaire.hour }}</div>
                {% endfor %}
                </div>
            </div>
            {% if config.contact.socialnetworks is not empty %}
            <div class="colum col-sm-12 col-4 text-small">
                <h5>Réseaux sociaux</h5>
                <div class="columns">
                {% for socialnetwork in config.contact.socialnetworks %}
                    <div class="colum col-12 col-sm-4">
                        <a class="c-hand" href='{{socialnetwork.url}}' target="_blank"><i class="mx-2 fa {{socialnetwork.icon}}" aria-hidden="true"></i>{{socialnetwork.label}}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="my-3 text-tiny">Créé grâce à <a href="http://getgrav.org" target="_blank">Grav</a> avec <i class="text-primary fa fa-heart"></i>.</section>
</footer>
