{% set phoneArray = config.address.phone|split('', 2) %}
{% set formattedPhonenumber = phoneArray|join('.') %}
<div class="container">
  <div class="text-bold text-large">{{ config.address.name }} </div>
  <div class="columns">
    <div class="column col-sm-12 col-6 text-center">
      <div class="pt-2">{{ config.address.address }} </div>
      <div class="pt-2">{{ config.address.zip }} {{ config.address.city }}</div>
    </div>
    <div class="column col-sm-12 col-6 text-center">
      <div class="pt-2"><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:{{ config.address.phone }}">{{ formattedPhonenumber }}</a> </div>
      <div class="pt-2"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{ config.address.email }}" title="{{ config.address.email }}" class="mailto">{{ config.address.email }}</a> </div>
    </div>
  </div>
</div>