{% set phoneArray = config.address.phone|split('', 2) %}
{% set formattedPhonenumber = phoneArray|join('.') %}
<div class="text-tiny">
    {{ config.address.address }} - {{ config.address.zip }} {{ config.address.city }} - <i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;<a href="tel:{{ config.address.phone }}">{{ formattedPhonenumber }}</a> - <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<a href="mailto:{{ config.address.email }}" title="{{ config.address.email }}" class="mailto">{{ config.address.email }}</a>
</div>